    <!-- header -->
    <nav
      class="navbar navbar-light shadoww"
      style="background-color: #e3f2fd; margin-bottom: 1%"
    >
      <div class="flex-d">
        <img
          class="image"
          src="../favicon.ico"
          height="30"
          alt=""
          loading="lazy"
        />
        <span class="anmac"> ANMaC </span>
      </div>
      <div class="dropdown" *ngIf="loginService.loginStatus.value ">
       
        <button class="btn btn-secondary dropdown-toggle" type="button"     id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
         <Span>{{loginService.usuario}}</Span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><button (click)="loginService.logout()" class="dropdown-item" type="button"><span>Salir</span></button></li>
        </ul>
      </div>
    </nav>
    <!-- header -->

