
<!-- Datos del Arma-->
<div class="card-header text-center" *ngIf="consultGet.idDescripcionArma != null">
  <h1>Detalles del arma</h1>
  <div class="card-header align-items-center">
    <strong class="flex">Numero de serie: </strong>
    {{ referenceGet.numeroSerie }} <strong> Tipo: </strong>
    {{ consultGet.tipoArma }} <strong> Marca: </strong> {{ consultGet.marca }}
    <strong> Modelo: </strong> {{ consultGet.modelo }}
    <strong> Calibre: </strong> {{ consultGet.calibre }}
    {{ consultGet.medida }} {{ consultGet.clase }}
  </div>
  <div class="card-header align-items-center felx" *ngIf="referenceGet.estado != null">
      <strong>Estado: </strong> {{ referenceGet.estado }}<span *ngIf="referenceGet.idDescArmaFK == null">--Falta-K</span> 
  </div>
</div>
 <!-- Datos del Arma FIN-->
<!-- Observaciones-->
<div class="card" >
  <div *ngFor="let item of observationGet; let i = index">
    <h3 class="text-center" *ngIf="i == 0">Observaciones</h3>
    <strong>{{ observationGet[i].fecha }}</strong>
  <p>{{ observationGet[i].observacion}}</p>
  </div>
</div>
<!-- Observaciones FIN-->

<!-- Filtros-->
<div class="card" >
  <div *ngFor="let item of filterGet; let i = index">
    <h3 class="text-center" *ngIf="i == 0">Filtros</h3>
    <strong>{{ filterGet[i].fechaFiltro }}  </strong>
  <span>{{ filterGet[i].filtro}}</span> <span *ngIf="filterGet[i].tipoOperadorFiltro == 'R'; else elseBlock">  Registral</span> 
  <ng-template #elseBlock> Técnico</ng-template>
  </div>
</div>
<!-- Filtros FIN-->

<!-- Fotos -->
<div *ngFor="let image of folderGet; let i = index" class="container-a2">
  <ul class="caption-style-2">
    <dl>
      <img [src]="image"/>
      <div class="caption">
        <div class="blur"></div>
        <div class="caption-text">

          <!-- modal Inicio -->

          <!-- <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-body">
              <img class="img-modal" [src]="image" />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-dark"
                (click)="c('Save click')"
              >
                Cerrar
              </button>
            </div>
          </ng-template> -->

          <!-- <button
            mat-fab
            color="primary"
            aria-label="Example icon button with a delete icon"
            (click)="open(content)"
          >
            <mat-icon>zoom_in</mat-icon>
          </button> -->

          <!--Modal Fin-->
        </div>
      </div>
    </dl>
  </ul>
</div>

<!-- fotos FIN -->


 <!-- Busqueda por referencia-->
<div class="card center col-md-4">
  <input type="text" name="referencia" [(ngModel)]="referencia" class="input-group-text text-center form-control"
    placeholder="Número de referencia" />

  <button class="btn btn-info btn-block" color="primary" aria-label="Example icon button with a delete icon"
    (click)="SerchReference(referencia)">
    Buscar
  </button>
</div>
 <!-- Busqueda por referencia FIN-->
 <app-upload-photo></app-upload-photo>