<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>Oops!</h1>
        <h2>404 Not Found</h2>
        <div class="error-details">
          Lo siento, la página ingresada no existe!!  
        </div>
        <div class="error-actions">
          <div class="example-button-container">
            <button mat-fab color="primary" aria-label="Example icon button with a home icon" routerLink="/">
              <mat-icon>home</mat-icon>
            </button>
          <!-- <a class="btn btn-primary btn-lg" routerLink="/" >Volcer al Inicio</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
