
 html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


.footer {
  position: absolute;
  bottom: 0;
  height: 62px;
  line-height: 60px;
  margin-inline: 35%; 
  width: max-content;
}
.buttonFooter{
    padding-bottom: 130px;
}
.image{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

.buttonConfirm{
  vertical-align: super;
}